/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #025a17;
    line-height: 1.6;
}

header, 
footer{
    background-color: #025a17;
    color: rgb(244, 239, 214);
    padding: 20px;}
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(244,239,214);}

nav li {
    display: inline;
}
nav a {
    color: rgb(244, 239, 214);
    text-decoration: none;
}
#modalidades{
    background-image:url(espddt.jpg);
 margin: 5px;
 background-color: #66ff8a;
 color: #66ff8a;
}

.imagem-fundo{
    background-size: contain;
    background-position: right;
    min-height: 50px;
    min-width: 20px;
    }

.card-curso{
padding: 16px;
border-radius: 8px;
border-width: 2px;
border-style: solid;
margin-top: 15px;
}

.cursos{
    background-color: #025a17;
    border-color:antiquewhite;
    color: antiquewhite;
}
.analise {
    background-color: #025a17;
    color: antiquewhite;
}
.analise-1,
.analise-2,
.analise-3,
.analise-4,
.analise-5,
.analise-6
{
    background-color: rgb(124, 231, 151);
}
